.padding25 {
  padding: 25px;
}

.superPadding {
  padding-left: 15%;
  padding-right: 15%;

  @include phone {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include tablet {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.space {
  height: 15px;
  width: 100%;
}

.flex {
  display: flex;

  @include tablet {
    flex-wrap: wrap;
  }

  @include phone {
    flex-wrap: wrap;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-start{
    justify-content: flex-start;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
    @include phone {
      text-align: center;
    }
  }

  &-jc-sa {
    justify-content: space-around;
  }
}

.fullScreen {
  min-height: 100vh;
}

.socialIcon{
  size: 2x;
  color: $colorSecondary;
  margin: 10px;
  &:hover {
    color: $textPrimary;
  }
}
