//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #444452;
$purple: #8e44ad;
$turquoise: #1abc9c;

// Basic Button Style
.btn {
  box-sizing: border-box;
  appearance: none;
  border: 2px solid $green;
  border-radius: 0.6em;
  color: $green;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  &:hover,
  &:focus {
    color: $green;
    outline: 0;
  }
}

.fourth {
  // background: $yellow;
  border-color: $yellow;
  color: $yellow;
  background: {
    image: linear-gradient(45deg, $yellow 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}

.personal-link{
  color: #64FFDA;
  background-color: transparent;
  border: 1px solid #64FFDA;
  border-radius: 5px;
  page-break-inside: avoid;
  padding: 0.5rem 1.50rem;
  line-height: 1;
  font-family: "FiraCode", sans-serif;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 30px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  
  &:hover {
    color: #64FFDA;
    outline: none;
    background-color: #282c34;
    text-decoration: none;
  }

  @media (max-width: 480px) {
    margin-right: 10px;
  }
}

