<div class="fullScreen flex flex-jc-c flex-ai-c superPadding">
    <div>
      <h1 class="smallHeadingPrimary colorSecondary">
        🤘 HI, I AM VIGNESH MARIMUTHU
      </h1>
      <h1
        class="superTitlePrimary colorPrimary"
        data-text="Vignesh Marimuthu"
      >
        He/Him. Minimalist. Stoic. Atheist. Human
      </h1>
      <div class="space"> </div>
      <a
        href="http://blog.vigneshmarimuthu.com/"
        class="personal-link buttonText colorSecondary"
      >
        Blog →
      </a>
      <a
        href="/personal/scribbles"
        class="personal-link buttonText colorSecondary"
      >
        Scribbles →
      </a>
    </div>
  </div>