<div class="">
    <div class="superPaddingVertical flex flex-jc-sa flex-ai-c superPadding">
        <h1
            class="superTitlePrimary padding25 colorSecondary"
            data-text="Vignesh Marimuthu"
        >
            ShortStory
        </h1>
        <p class="subHeadingSecondary padding25 colorPrimary textAlignCenter">
            A full-time Android Dev based in India, who also runs a <a
                href="https://www.youtube.com/channel/UCUjFwZ-SEMK5k-i24VzRu0w?sub_confirmation=1"
                class="buttonText colorSecondary"
            >YouTube Channel </a>{" "}and a{" "}<a
                href="http://blog.vigneshmarimuthu.com/"
                class="buttonText colorSecondary"
            >Blog</a>, where I post and write tech tutorials. (Yeah! Nerd.) <br> <br>Selectively social, constant learner, cis-het, creative at night, motivated during shower,
            occasionally good lookin and a humble human being. <br><br> Belongs to House Targaryen. <br><br>I am that guy, who cuts your call and texts you back, <i>I'll call you
                later, </i> but never does.
        </p>
    </div>
</div>
