<div class="flex flex-ai-c flex-jc-c">
    <div>
        <div
            class="subHeadingSecondary colorPrimary subHeadingSecondary-align-center padding25"
        >
            Incase and unfortunately, if you are already my friend 😅
            <br /> I have shamelessly made a wishlist of things, that you can gift
            me 🥳
        </div>
        <div class="flex flex-ai-c flex-jc-c">
            <a
                href="/personal/wishlist"
                class="personal-link buttonText colorSecondary"
            >
                My Wishlist →
            </a>
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
    </div>
</div>
