@font-face {
  font-family: "Epilogue SemiBold";
  src: local("Epilogue SemiBold"),
    url(../../fonts/Epilogue/Epilogue-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: local("Epilogue Regular"),
       url(/public/fonts/Epilogue/Epilogue-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: local("FiraCode Regular"),
    url(../../fonts/ShareTechMono/ShareTechMono-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode Light";
  src: local("FiraCode Light"),
    url(../../fonts/ShareTechMono/ShareTechMono-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Petrona Regular";
  src: local("Petrona Regular"), url(../../fonts/Space_Mono/SpaceMono-Regular.ttf) format("truetype");
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: "Petrona Light";
  src: local("Petrona Light"), url(../../fonts/Space_Mono/SpaceMono-Regular.ttf) format("truetype");
  font-weight: 300;
  font-size: normal;
}

@font-face {
  font-family: "Petrona SemiBold";
  src: local("Petrona SemiBold"), url(../../fonts/Space_Mono/SpaceMono-Regular.ttf) format("truetype");
  font-weight: 600;
  font-size: normal;
}

@font-face {
  font-family: "Petrona Medium";
  src: local("Petrona Medium"), url(../../fonts/Space_Mono/SpaceMono-Regular.ttf) format("truetype");
  font-weight: 500;
  font-size: normal;
}

@font-face {
  font-family: "Petrona Bold";
  src: local("Petrona Bold"), url(../../fonts/Space_Mono/SpaceMono-Bold.ttf) format("truetype");
  font-weight: 700;
  font-size: normal;
}