// $colorPrimary: #557571;
// $colorSecondary: #D49A89;
// $colorAccent: #F7D1BA;
// $colorBackground: #F4F4F4;
// $highlightColor:  #f6f2e1;
// $textColor: #4a4a4b;

// $colorPrimary: #DA0037;
// $colorSecondary: #EDEDED; 
// $colorAccent: #444444;
// $colorBackground: #171717;
// $highlightColor:  #422038;
// $textColor: #dddddd;

$colorPrimary: #112D4E;
$colorSecondary: #3F72AF;   
$colorAccent: #DBE2EF;
$colorBackground: #F9F7F7;
$highlightColor:  #DBE2EF;
$textColor: #2c2c2c;