---
import BaseLayout from "../../layouts/BaseLayout.astro";
export function getStaticPaths() {
  return [
    {params: {dog: 'clifford'}},
    {params: {dog: 'rover'}},
    {params: {dog: 'spot'}},
  ];
}

const { dog } = Astro.params;
---

<BaseLayout>
    <main>
        <h1>hello</h1>
    </main>
</BaseLayout>
