---
import Layout from "../../layouts/Layout.astro";
import "../styles/styles.scss";
---

<Layout title="Wishlist | Vignesh Marimuthu">
    <main>
        <div class="bookScreen superPadding fullScreen">
            <div class="colorPrimary paddingVertical homeLink">
                <div class="space"></div>
                <p>
                    <a href="/">VIGNESH MARIMUTHU</a> /
                    <a href="/personal"> PERSONAL</a> /
                </p>
                <div class="bottomLine"></div>
                <div class="space"></div>
                <div class="space"></div>
            </div>
            <div class="content paddingVertical"></div>
        </div>
    </main>
</Layout>
