.bookScreen {
  height: fit-content;
}

a {
  text-decoration: none;
  color: $colorSecondary
}

.content {
  font-family: "SpaceMono Regular";
  font-size: 1.25rem;
  color: $colorPrimary;


  h1,h2,h3,h4,h5,h6{
    color: $colorSecondary;
  }

  h3 {
    margin-top: 50px;
  }

  p {
    color: $textColor;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
    color: $textColor;
    font-family: "ShareTechMono";
  }

}

.contentTamil {
  font-family: "Ponni Regular";
  font-size: 1rem;
  color: $colorPrimary;


  h1,h2,h3,h4,h5,h6{
    color: $colorSecondary;
  }

  h3 {
    margin-top: 50px;
  }

  p {
    color: $textColor;
    line-height: normal;
    text-align: left;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
    color: $textColor;
    font-family: "ShareTechMono";
  }

}

.bottomLine {
  border-bottom: 1px solid rgba(0,0,0,.10);
}

blockquote {
  margin: 10px 0px;
  padding: 15px;
  background:$highlightColor;
  border-radius: 5px;
  font-family: "ShareTechMono";  
  color: #6c757d ;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}