.homeContainer {
  @include center(both);
  text-align: left;
  @include fadeIn();

  @include phone {
    text-align: center;
    align-items: center;
  }
}

.justify-content {
  margin-top: 15px;
  margin-right: -15px;
  margin-left: -15px;

  @include phone {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
