.landing {
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 8rem;

    @include tablet {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    @include phone {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.landingContainer {
    display: flex;
    margin: 6rem;
    gap: 1rem;
}

.experienceContainer {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    column-gap: 50px;
    margin-bottom: 10px;

    @include phone {
        display: flex;
        flex-direction: column;
    }
}

.dateSection {
    grid-column: span 2/span 2;

    @include phone {
        display: flex;
        flex-direction: column;
    }

}

.experienceInfoSection {
    grid-column: span 6/span 6;

    @include phone {
        display: flex;
        flex-direction: column;
    }
}

.highlightsContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: .5rem;
}

.highlightsFirstSection {
    gap: .5rem;
    height: 250px;
    display : grid;
    grid-column: span 1 / span 1;
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.highlightsSecondSection {
    grid-column: span 2 / span 2;
}

.firstSubContainer {
    width: 100%;
    height: 100%;
    border: 1px solid $colorSecondary;
    grid-row: span 1 / span 1;
    border-radius: .75rem;
    display: flex;
    overflow: hidden;
    transition-duration: .3s;
    transition-property: transform;
    &:hover {
        transform: scale(1.05) rotate(1.5deg);
        cursor: pointer;
    }
}

.locationImage {
    width: 100%;
    height: 100%;   
    border-radius: .75rem;
    display: block;
    object-fit: cover;
}