.smallHeadingSecondary {
  font-family: "FiraCode Light", sans-serif;
  font-size: 1em;

  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.1em;
  }
}

.smallHeadingPrimary {
  font-family: "Petrona Light", sans-serif;
  font-size: 1em;

  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.1em;
  }
}

.superTitlePrimary {
  font-family: "Petrona SemiBold", sans-serif;
  font-size: clamp(40px, 4vw, 80px);
}

.buttonText {
  line-height: 1;
  font-family: "Petrona SemiBold", sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.tagText {
  line-height: 1;
  font-family: "Petrona SemiBold", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
}

.underLine{
  text-decoration: underline;
}

.subHeadingSecondary {
  font-family: "FiraCode", sans-serif;
  font-size: 1.3em;

  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.1em;
  }

  &-align-center {
    text-align: center;
  }
}

.subHeadingPrimary {
  font-family: "Petrona SemiBold", sans-serif;
  font-size: 1.3em;
  
  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.1em;
  }

  &-align-center {
    text-align: center;
  }
}

.projectDesc {
  font-family: "Petrona SemiBold", sans-serif;
  font-size: 1.1em;
  
  @include phone {
    font-size: 0.9em;
  }

  @include tablet {
    font-size: 1em;
  }

  &-align-center {
    text-align: center;
  }
}



.titlePrimary {
  font-family: "Petrona Bold", sans-serif;
  font-size: 1.5em;
}

.bolderSecondary {
  font-family: "FiraCode", sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
}


.categoryText {
  line-height: 1;
  font-family: "FiraCode", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
}

.dateText {
  line-height: 1;
  font-family: "FiraCode", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}



.colorPrimary {
  color: $colorPrimary;
}

.colorSecondary {
  color: $colorSecondary;
}

.colorAccent {
  color: $colorAccent;
}

.textColor {
  color: $textColor;
}

.colorBackground {
  color: $colorAccent;
}


.highlight {
  background: $highlightColor;
}

.allCaps{
  text-transform: uppercase;
}

