.superTitleWhite {
  color: $textPrimary;
  font-family: "Epilogue SemiBold", sans-serif;
  font-size: clamp(40px, 4vw, 80px);
}

.superTitleGreen{
  color: $colorSecondary;
  font-family: "Epilogue SemiBold", sans-serif;
  font-size: clamp(40px, 4vw, 80px);
}

.titleEpilogueGreen {
  color: $colorSecondary;
  font-family: "Epilogue SemiBold", sans-serif;
  font-size: 1.5em;
}

.smallHeadingFiraGreen {
  font-family: "FiraCode Light", sans-serif;
  font-size: 1em;
  color: $colorSecondary;

  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.10em ;
  }
}

.smallHeadingEpilogueWhite {
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  color: $textPrimary;

}

.smallHeadingEpilogueGreen{
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  color: $colorSecondary;

  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.10em ;
  }
}



.subHeadingEpilogueWhite{
  font-family: "Epilogue", sans-serif;
  font-size: 1.5em;
  color: $textPrimary;

  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.10em ;
  }

  &-align-center{
    text-align: center;
  }
}

.subHeadingFiraWhite{
  font-family: "FiraCode", sans-serif;
  font-size: 1.3em;
  color: $textPrimary;

  @include phone {
    font-size: 1em;
  }

  @include tablet {
    font-size: 1.10em ;
  }
}

.buttonText {
  color: $colorSecondary;
  line-height: 1;
  font-family: "FiraCode", sans-serif;
  font-size: 1em;
  text-decoration: none;

  &:hover {
    color: $colorSecondary;
  }
}